<%- include("../partials/header") %>

<div class="container mt-5">
   
    <h1>Admin Dashboard</h1>
    <section id="search" class="my-2">
        <div class="row shadow-sm">
            <div class="col">
                <form action="/dashboard" method="POST" id="search" class="my-2">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search names or dates" aria-label="Search names or dates">
                        <div class="input-group-append">
                            <button class="input-group-text">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="stats" class="my-3">
        <div class="row shadow-sm pb-3">
            <div class="col" id="amounts-over-time">
                <h3>Invitations Sent Last 6 Months</h3>
                <div id="chart-container" ><img src="/images/line-graph-example.svg" alt=""></div>
            </div>
            <div class="col" id="send-link">
                <h3>Send An Invitation</h3>
                <form action="/send" method="POST" id="send-link-to-user">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="email" class="input-group-text">Email</label>
                        </div>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="first-name" class="input-group-text">First Name</label>
                        </div>
                        <input type="text" id="first-name" name="first-name" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="last-name" class="input-group-text">Last Name</label>
                        </div>
                        <input type="text" id="last-name" name="last-name" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-secondary mt-2">Send Link</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="row shadow-sm my-3">
            <div class="col">
                <h3>Recently Sent Invitations</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">First Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Last Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Email</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Date</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <%# for(let invitation of invitations) { %>
                          <tr>
                            <td class="border-0 align-middle"><strong><%#= item.post.price.toFixed(2) %>John</strong></td>
                            <td class="border-0 align-middle"><strong><%#= item.post.price.toFixed(2) %>Smith</strong></td>
                            <td class="border-0 align-middle"><strong><%#= item.quantity %></strong>johnsmith@gmail.com</td>
                            <td class="border-0 align-middle"><strong><%#= item.quantity %></strong>2020-03-19 10:49</td>
                            </tr>
                        <%#} %>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row shadow-sm my-3">
            <div class="col">
                <h3>Recently Completed Invitations</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">First Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Last Name</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Email</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Date</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <%# for(let invitation of invitations) { %>
                          <tr>
                            <td class="border-0 align-middle"><strong><%#= item.post.price.toFixed(2) %>Andrew</strong></td>
                            <td class="border-0 align-middle"><strong><%#= item.post.price.toFixed(2) %>Stone</strong></td>
                            <td class="border-0 align-middle"><strong><%#= item.quantity %></strong>andytherock@gmail.com</td>
                            <td class="border-0 align-middle"><strong><%#= item.quantity %></strong>2020-03-17 14:25</td>
                            </tr>
                        <%#} %>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
</div>

<%- include("../partials/footer") %>