<div class="form-row mb-1">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label for="contact[firstName]" class="input-group-text">First Name</label>
        </div>
        <input type="text" name="contact[firstName]" id="contact[firstName]" class="form-control" required>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label for="contact[lastName]" class="input-group-text">Last Name</label>
        </div>
        <input type="text" name="contact[lastName]" id="contact[lastName]" class="form-control" required>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label for="contact[personalEmail]" class="input-group-text">Email</label>
        </div>
        <input type="email" name="contact[personalEmail]" id="contact[personalEmail]" class="form-control" required>
      </div>
    </div>
  </div>