<div class="form-row">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label for="beginDate" class="input-group-text" id="beginDateLabel">From</label>
        </div>
        <input type="date" name="beginDate" id="beginDate" aria-describedby="beginDateLabel">
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label for="endDate" class="input-group-text" id="endDateLabel">To</label>
        </div>
        <input type="date" name="endDate" id="endDate" aria-describedby="endDateLabel">
      </div>
    </div>
    <div class="col-1">
      <button class="btn btn-secondary" type="submit">Go</button>
    </div>
</div>