/* body {
    padding-top:70px;
} */

#flashMessages {
    margin-top:70px;
}

tr a {
    color:inherit;
    text-decoration: underline;
}

.form-section-label {
    font-size:1.5rem;
}

.addQuestionLink {
    text-decoration: underline;
    color: inherit;
    font-size: 1.5rem;
}

.addQuestionLink:hover {
    color: inherit;
}

.collapseSection {
    text-decoration:underline;
    color:inherit;
}

.collapseSection:hover {
    color:inherit;
}

.sectionTitle {
    color: inherit;
    cursor: pointer;
}

.sectionTitle:hover {
    color: inherit;
}

/* .dragging {
    opacity:.7;
} */

.dragHandle {
    cursor: pointer;
}