/* body {
    min-height:100vh;
} */

#flashMessages {
    margin-top:70px;
}

tr a {
    color:inherit;
    text-decoration: underline;
}

.form-section-label {
    font-size:1.5rem;
}

.addQuestionLink {
    text-decoration: underline;
    color: inherit;
    font-size: 1.5rem;
}

.addQuestionLink:hover, .addOptionLink:hover {
    color: inherit;
}

.collapseSection {
    text-decoration:underline;
    color:inherit;
}

.collapseSection:hover {
    color:inherit;
}

.sectionTitle {
    color: inherit;
    cursor: pointer;
}

.sectionTitle:hover {
    color: inherit;
}

.addOptionLink {
    text-decoration: underline;
    color: inherit;
    font-size: 1rem;
}

.sectionDragHandle, .questionDragHandle {
    cursor: pointer;
}

.followUpSection {
    background-color: #ccc;
}